
# Server Configuration
server:
  port: 8082

# H2 Database Configuration
spring:
  main:
    banner-mode: off
  application:
    name: rewards-service
  datasource:
    url: jdbc:h2:mem:rewardsdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  cache:
    type: caffeine
    cache-names: rewards

# Logging
logging:
  level:
    org.springframework: INFO
    org.hibernate: INFO
    com.program.rewards: DEBUG
    org.springframework.cache: TRACE


# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
  metrics:
    enable:
      all: true
  tracing:
    sampling:
      # 1.0 means log every single request.
      # Set to 0.1 in production to only trace 10% of requests.
      probability: 1.0

rewards:
  cache:
    clear-cache-fixed-rate: 360000  # Cache clear interval in milliseconds (default: 10 minutes)